*{
    padding: 0%;
    margin: 0%;
  }
.fundo{

    background: linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.87) 0%,
      rgba(45, 192, 255, 0) 0.009999999747378752%,
      rgba(0, 0, 0, 1) 2.616279013454914%,
      rgba(222, 17, 255, 0.51) 17.296510934829712%,
      rgba(242, 24, 220, 0.95) 50.726741552352905%,
      rgba(222, 17, 255, 0.95) 86.77325248718262%,
      rgba(7, 2, 7, 0.95) 99.12790656089783%
    ),
    linear-gradient(
      180deg,
      rgba(203, 25, 248, 0.87) 0%,
      rgba(45, 192, 255, 0) 0.009999999747378752%,
      rgba(157, 32, 255, 1) 1.5988372266292572%,
      rgba(212, 43, 239, 0.95) 21.656976640224457%,
      rgba(244, 9, 9, 0.95) 47.92666435241699%,
      rgba(249, 65, 230, 0.95) 97.8197693824768%
    );
  width: 100%;
  height: 1024px;
  position: relative;
  border: 0px;

  }

.avatar-1 {
    
    width: 624px;
    height: 400px;
    position: absolute;
    left: -22px;
    top: -12px;
    
  }

.metas-2024 {
    color: #000000;
    text-align: left;
    font: 400 50px "Faster One", sans-serif;
    text-decoration: line-through;
    position: absolute;
    left: 600px;
    top: 337px;
    width: 1002px;
    height: 57px;
  }

.show {
    color: #ffffff;
    text-align: left;
    font: 400 45px "Chewy", sans-serif;
    position: absolute;
    left: 146px;
    top: 430px;.cor {
      color: #ffffff;
      text-align: left;
      font: 400 45px "Chewy", sans-serif;
      position: absolute;
      left: 280px;
      top: 826px;
      width: 78px;
      height: 50px;
    }
    width: 122px;
    height: 58px;
  }

  .formatura {
    color: #ffffff;
    text-align: left;
    font: 400 45px "Chewy", sans-serif;
    position: absolute;
    left: 494px;
    top: 430px;
    width: 148px;
    height: 68px;
  }

  .viajar {
    color: #ffffff;
    text-align: left;
    font: 400 45px "Chewy", sans-serif;
    position: absolute;
    left: 849px;
    top: 430px;
    width: 140px;
    height: 58px;
  }

  .ENEM {
    color: #ffffff;
    text-align: left;
    font: 400 45px "Chewy", sans-serif;
    position: absolute;
    left: 1211px;
    top: 432px;
    width: 140px;
    height: 58px;
  }

  .faculdade {
    color: #ffffff;
    text-align: left;
    font: 400 45px "Chewy", sans-serif;
    position: absolute;
    left: 280px;
    top: 826px;
    width: 78px;
    height: 50px;
  }